@charset "UTF 8"

body{
    background-color:rgb(0, 128, 28);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 109, 24);
}

h1#principal{
    text-align: center;
    background-color:rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

.basico{
    color:rgb(71, 109, 71) ;
}

.intermediario{
    color: rgb(179, 168, 23);
}

.avancado{
    color: rgb(172, 45, 45);
}

.destaque{
    background-color: rgba(212, 212, 28, 0.589);
}